.container {
  margin: 5rem auto;
  width: 40%;
}

.title {
  color: #141414;
  margin: 30px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
}

.subtitle {
  color: #141414;
  margin: 30px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.link {
  color: #2E81FA;
  cursor: pointer;
  font-weight: 400;
}


@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .title {
  font-size: 24px;
  color: #2E81FA;
   margin: 20px 0px;
  }
    .subtitle {
    color: #141414;
    margin: 10px 0px;

  }
}


